# Required Python packages get listed here, one per line.
# Reccomended to lock the version number to avoid unexpected changes.

# You can also install packages from a git repository, e.g.:
# git+https://github.com/runpod/runpod-python.git
# To learn more, see https://pip.pypa.io/en/stable/reference/requirements-file-format/

runpod~=1.7.0
ffmpegio
ffmpeg-python
firebase-admin
pydub
sentencepiece
tiktoken
jsonlines
diffusers==0.30.1
accelerate==0.30.0
torchvision
numpy==1.26.4
imageio
imageio-ffmpeg
timm
transformers
opencv-python-headless
einops
tensorboardX
ipython
wheel
torch
uuid
requests==2.31.0
Pillow>=9.0.0
huggingface_hub>=0.16.4
pyramid_dit  
diffusers>=0.23.0
